
<!-- // ---- Status Start----- // -->
<div class="mat-dialoge">
    <app-modal-header [title]="'Change Status'" [closeBtn]="true" (close)="closeModal()">
    </app-modal-header>
    <form #f="ngForm" (ngSubmit)="f.valid && statusChange()">
        <mat-dialog-content class="mat-typography py-1">
            <div class="">
                <label class="form-label mb-0">Status {{data.status}}<span class="text-red-500">*</span></label>
                <mat-form-field  class="mat-custom-field remove-space">
                    <mat-select placeholder="Select an option" [(ngModel)]="data.status" name="status" #status="ngModel" required>
                        <mat-option *ngFor="let row of this.modalData.options" [value]="row.name">{{row.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="mt-1 text-xs text-red-500 text-right" *ngIf="status.touched || f.submitted">
                    <ng-container *ngIf="status.errors?.['required']">This field is required</ng-container>
                </div>
            </div>
            
            <div class="mt-2" *ngIf="data.status === 'Reject'">
                <label class="form-label mb-0">Reason<span class="text-red-500">*</span></label>
                <mat-form-field class="mat-custom-field remove-space text-area-height">
                    <textarea matInput placeholder="Type Here ..." [(ngModel)]="data.reason" name="reason" #reason="ngModel" required></textarea>
                </mat-form-field>
                <div class="mt-1 text-xs text-red-500 text-right" *ngIf="reason.touched || f.submitted">
                    <ng-container *ngIf="reason.errors?.['required']">This field is required</ng-container>
                </div>
            </div>
            
            <div class="grid grid-cols-12 sm:gap-x-6" *ngIf="data.status === 'Verified'">
                <div class="xl:col-span-12 col-span-12">
                    <label class="form-label mb-0">Attachment (PDF)<span class="text-red-500">*</span></label>
                    <file-pond 
                    class="filepond basic-filepond" 
                    [options]="pondDocumentOptions" 
                    [files]="pondAttachmentFiles"
                    (onremovefile)="onFileRemove($event, 'warranty_verification_attachment')"
                    (onprocessfile)="onFileProcessed($event, 'warranty_verification_attachment')"></file-pond>
                </div>
            </div>
        </mat-dialog-content>
        
        <mat-dialog-actions class="gap-2" align="end">
            <app-button [buttonType]="'submit'" [buttonClass]="'ti-btn ti-btn-primary m-0'" [disabled]="api.disabled" [formType]="modalData.formType" [iconClass]="'ri-save-line'"  [loadingIconClass]="'ri-loader-2-fill'"></app-button>
        </mat-dialog-actions>
    </form>
</div>
<!-- // -----Status End----- // -->