<!-- <div class="object-fit-container">
   <img src="./assets/images/media/backgrounds/data-not-found.png" alt="No data" class="object-scale-down dark:border-defaultborder/10 !rounded-md">
</div> -->
<div class="max-w-sm p-6 mx-auto text-center">
   <div class="flex flex-col items-center space-y-3">
      <span class="material-icons text-gray-300 text-7xl">cloud_off</span>
      <p class="text-lg font-semibold text-gray-800">No data to display</p>
      <p class="text-sm text-gray-500">Once data is available, it will appear here.</p>
   </div>
</div>