<app-page-header [title]="'User'" [title1]="['User']" [activeitem]="(pageType | titlecase) + ' User'"></app-page-header>
<div class="box" *ngIf="skLoading">
    <div class="p-4">
        <div class="grid grid-cols-12 gap-x-6">
            <div class="xl:col-span-3 col-span-12 mb-4" *ngFor="let card of [].constructor(10)">
                <app-skeleton></app-skeleton>
            </div>
        </div>
    </div>
</div>
<div class="xl:col-span-12 col-span-12" *ngIf="!skLoading">
    
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="box">
            <div class=" p-4">
                <div class="grid grid-cols-12 sm:gap-x-6">
                    <div class="xl:col-span-3 col-span-12 mb-3">
                        <spk-input label="Name"  formControlName="name" [fieldReq]="true" class="remove-default-class" type="text"></spk-input>
                    </div>
                    
                    <div class="xl:col-span-3 col-span-12 mb-3">
                        <spk-input label="Mobile"  formControlName="mobile" [fieldReq]="true" class="remove-default-class" type="text" (keypress)="formValidation.handleInputFilter($event, 'mobile')"></spk-input>
                    </div>
                    
                    <div class="xl:col-span-3 col-span-12 mb-3">
                        <spk-input label="Email"  formControlName="email" class="remove-default-class" type="text"></spk-input>
                    </div>
                    
                    <div class="xl:col-span-3 col-span-12 mb-3">
                        <spk-input label="User Code"  formControlName="user_code" [fieldReq]="true" class="remove-default-class" type="text"></spk-input>
                    </div>
                    
                    <div class="xl:col-span-3 col-span-12 mb-3">
                        <spk-input label="Pincode"  formControlName="pincode" class="remove-default-class" type="number" (keypress)="formValidation.handleInputFilter($event, 'pincode')" (valueChange)="onValueChange($event, 'pincode')" [fieldReq]="true"></spk-input>
                    </div>
                    
                    <div class="xl:col-span-3 col-span-12 mb-3">
                        <spk-ng-select
                        formControlName="state"
                        label="State"
                        [fieldReq]="true"
                        [options]="this.CommonApiService.statList"
                        [search]="true"  
                        (searchChanged)="onSearch($event, 'state')"
                        (selectedChange)="onSingleSelectChange($event, 'state')"></spk-ng-select>
                    </div>
                    
                    <div class="xl:col-span-3 col-span-12 mb-3">
                        <spk-ng-select
                        formControlName="district"
                        label="District"
                        [fieldReq]="true"
                        [options]="districtList"
                        (selectedChange)="onSingleSelectChange($event)"></spk-ng-select>
                    </div>
                    
                    <div class="xl:col-span-3 col-span-12 mb-3">
                        <spk-input label="City" formControlName="city" class="remove-default-class" type="text" [fieldReq]="true"></spk-input>
                    </div>
                    
                    <div class="xl:col-span-6 col-span-12 mb-3">
                        <spk-input label="Address" formControlName="address" class="remove-default-class" type="textarea" [fieldReq]="true"></spk-input>
                    </div>
                </div>
            </div>
            
            <div class="box-footer border-t border-block-start-dashed sm:flex justify-end">
                <app-button [buttonType]="'submit'" [buttonClass]="'ti-btn ti-btn-primary m-0'" [disabled]="api.disabled" [formType]="pageType" [iconClass]="'ri-save-line'"  [loadingIconClass]="'ri-loader-2-fill'"></app-button>
            </div>
        </div>            
        
    </form>
    
</div>

