<app-page-header [title]="'User'" [title1]="['User']" [activeitem]="'User List'"></app-page-header>

<div class="box py-3 px-4">
    <nav class="sm:flex sm:space-x-2 sm:rtl:space-x-reverse gap-1" aria-label="Tabs" role="tablist">
        
        <ng-container *ngIf="skLoading">
            <app-skeleton  *ngFor="let row of [].constructor(2)" [class]="'w100 h25'"></app-skeleton>
        </ng-container>
        <ng-container *ngIf="!skLoading">
            <app-listing-tab *ngFor="let tab of mainTabs"
            [tabs]="[{ name: tab.name, label: tab.label, icon: tab.icon, count: tab.count}]"
            [activeTab]="activeTab"
            (tabChange)="onTabChange($event.tab)"></app-listing-tab>
        </ng-container>
    </nav>
    <!-- Start::row-1 -->
    <div class="row">
        <div class="col-xl-12">
            <app-page-sub-header [pageTitle]="'User List'" [listLength]="listing.length" 
            [btnShow]="true" [refreshLabel]="'Refresh'" (onRefresh)="onRefresh()" [class]="'p-0 pt-3'" 
            [btnShow2]="true" [addBtnLabel]="'Add User'"  (button1)="goToAddPage()"></app-page-sub-header>
            
            <div class="table-responsive overflow-auto table-bordered-default">
                <spk-reusable-tables tableClass="ti-custom-table ti-custom-table-head ti-custom-table-hover ti-head-primary whitespace-nowrap" [tableHead]="'border-b'" [showS_No]="true" [showAction]="true" [columns]="PageHeaders">
                    <ng-container *ngIf="!skLoading">
                        <tr class="border-b !border-defaultborder dark:!border-defaultborder/10">
                            <td>&nbsp;</td>
                            <td>
                                <div class="table-search-filters">
                                    <mat-form-field class="table-input">
                                        <input matInput  [matDatepicker]="picker" [(ngModel)]="filter.created_at" name="createdAt" placeholder="Date Created" (ngModelChange)="getList()">
                                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>  
                                </div>
                            </td>
                            <td>
                                <div class="table-search-filters">
                                    <mat-form-field class="table-input">
                                        <input matInput type="text" [(ngModel)]="filter.created_name" placeholder="Search..." (keyup.enter)="getList()">
                                        @if (filter.created_name) {
                                            <button matSuffix mat-icon-button aria-label="Clear" (click)="filter.created_name=''; getList()">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        }
                                    </mat-form-field>
                                </div>
                            </td>
                            <td>
                                <div class="table-search-filters">
                                    <mat-form-field class="table-input">
                                        <input matInput type="text" [(ngModel)]="filter.name" placeholder="Search..." (keyup.enter)="getList()">
                                        @if (filter.name) {
                                            <button matSuffix mat-icon-button aria-label="Clear" (click)="filter.name=''; getList()">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        }
                                    </mat-form-field>
                                </div>
                            </td>
                            <td>
                                <div class="table-search-filters">
                                    <mat-form-field class="table-input">
                                        <input matInput type="text" [(ngModel)]="filter.mobile" placeholder="Search..." (keyup.enter)="getList()">
                                        @if (filter.mobile) {
                                            <button matSuffix mat-icon-button aria-label="Clear" (click)="filter.mobile=''; getList()">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        }
                                    </mat-form-field>
                                </div>
                            </td>
                            <td>
                                <div class="table-search-filters">
                                    <mat-form-field class="table-input">
                                        <input matInput type="text" [(ngModel)]="filter.state" placeholder="Search..." (keyup.enter)="getList()">
                                        @if (filter.state) {
                                            <button matSuffix mat-icon-button aria-label="Clear" (click)="filter.state=''; getList()">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        }
                                    </mat-form-field>
                                </div>
                            </td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr class="product-list border-b !border-defaultborder dark:!border-defaultborder/10" *ngFor="let row of listing; let i = index;">
                            <td class="!text-center">{{(pagination.cur_page - 1) * pagination.limit + i + 1 }}</td>
                            <td>{{ row.created_at ? (row.created_at | date:'d MMM yyyy, hh:mm a') : '--' }}</td>
                            <td>{{row.created_name || '--'}}</td>
                            <td>
                                <a class="text-primary font-semibold underline" (click)="goToDetailPage(row._id)">{{row.name || '--'}}</a>
                            </td>
                            <td>{{row.mobile || '--'}}</td>
                            <td>{{row.state || '--'}}</td>
                            <td>
                                <span>
                                    <app-toggle [checked]="row.isChecked" (checkedChange)="onToggleChange($event, row._id, row.status)"></app-toggle>
                                </span>
                            </td>
                            <td class="!text-center">
                                <app-icon-button [icon]="'ri-pencil-line'"  [buttonClass]="'ti-btn btn-wave product-btn ti-btn-sm ti-btn-soft-success waves-effect waves-light'" (clickEvent)="editPage(row)" matTooltip="Edit"> </app-icon-button>
                                <app-icon-button [icon]="'ri-delete-bin-line'" [buttonClass]="'ti-btn btn-wave product-btn ti-btn-sm ti-btn-soft-danger waves-effect waves-light'" (clickEvent)="onDeleteRow(row._id)" matTooltip="Delete"> </app-icon-button>
                            </td>
                        </tr>
                    </ng-container>
                    <!-- //--skeleton--// -->
                    <ng-container *ngIf="skLoading">
                        <tr class="border-b !border-defaultborder dark:!border-defaultborder/10" *ngFor="let row of [].constructor(8)">
                            <td *ngFor="let row of [].constructor(8)">
                                <app-skeleton [class]="'h20 bg-skeleton'"></app-skeleton>
                            </td>
                        </tr>
                    </ng-container>
                    <!-- //--skeleton--// -->
                </spk-reusable-tables>
                <ng-container *ngIf="!listing.length && !skLoading">
                    <app-data-not-found></app-data-not-found>
                </ng-container>
            </div>
            
            <app-pagination-footer [currentPage]="pagination.cur_page" [totalPage]="pagination.total_pages" [pageLimit]="pagination.limit" [listLength]="listing.length" [preBtn]="!pagination.prev" [nextBtn]="!pagination.next" (preButtonClick)="changeToPagination('Previous')" (nextButtonClick)="changeToPagination('Next')" (pageChange)="changeToPage($event)"></app-pagination-footer>
        </div>
    </div>
</div>
<!--End::row-1 -->