<app-page-header [title]="'Invoice'" [title1]="['Invoice Detail']" [activeitem]="'Invoice Detail'"></app-page-header>


<!-- Start:: row-1 -->
<div class="grid grid-cols-12 gap-x-6">
    <div class="xl:col-span-12 col-span-12">
        
        <div class="grid grid-cols-12 sm:gap-x-6" *ngIf="!skLoading">
            <div class="xl:col-span-12 col-span-12">
                <div class="grid grid-cols-12 sm:gap-x-6">
                    <div class="xl:col-span-4 col-span-12">
                        <app-showcode-card [title]="'Basic Detail'" [class]="'box-title font-medium text-[15px] block text-primarytint1color'" [boxHeader]="'pb-0'" [titleView]="true">
                            <ul class="ti-list-group list-group-flush border-0">
                                <li>
                                    <div class="flex items-center gap-5 flex-wrap text-[12px]">
                                        <div class="flex items-center me-2 flex-wrap">
                                            <div>
                                                <span class="block font-medium text-primay">{{Detail?.created_at ? (Detail?.created_at | date:'d MMM yyyy, hh:mm a') : '--'}}</span>
                                                <span class="text-textmuted dark:text-textmuted/50">Date Created</span>
                                            </div>
                                        </div>
                                        <div class="flex items-center me-2 flex-wrap">
                                            <div>
                                                <span class="block font-medium text-primay">{{Detail?.created_name || '--'}}</span>
                                                <span class="text-textmuted dark:text-textmuted/50">Created By</span>
                                            </div>
                                        </div>
                                        <div class="flex items-center me-2 flex-wrap">
                                            <div>
                                                <span class="block font-medium text-primay">{{Detail?.billing_date ? (Detail?.billing_date | date:'d MMM yyyy') : '--'}}</span>
                                                <span class="text-textmuted dark:text-textmuted/50">Billing Date</span>
                                            </div>
                                        </div>
                                        
                                        <div class="flex items-center me-2 flex-wrap">
                                            <div>
                                                <span class="block font-medium text-primay">{{Detail?.customer_type_name ? Detail?.customer_type_name : '---'}}</span>
                                                <span class="text-textmuted dark:text-textmuted/50">Customer Type Name</span>
                                            </div>
                                        </div>
                                        
                                        <div class="flex items-center me-2 flex-wrap">
                                            <div>
                                                <span class="block font-medium text-primay">{{Detail?.customer_name ? Detail?.customer_name : '---'}}</span>
                                                <span class="text-textmuted dark:text-textmuted/50">Customer Name</span>
                                            </div>
                                        </div>
                                        
                                        <div class="flex items-center me-2 flex-wrap">
                                            <div>
                                                <span class="block font-medium text-primay">{{Detail?.invoice_number || '--'}}</span>
                                                <span class="text-textmuted dark:text-textmuted/50">Invoice Number</span>
                                            </div>
                                        </div>
                                        
                                        
                                        <div class="flex items-center me-2 flex-wrap">
                                            <div>
                                                <span class="block font-medium text-primay">{{Detail?.updated_at ? (Detail?.updated_at | date:'d MMM yyyy') : '--'}}</span>
                                                <span class="text-textmuted dark:text-textmuted/50">Updated At</span>
                                            </div>
                                        </div>
                                        
                                        
                                        <!-- <div class="flex items-center me-2 flex-wrap">
                                            <div>
                                                <span class="badge" [ngClass]="{'text-warning bg-warning/10': Detail?.status === 'Pending', 'text-success bg-success/10': Detail?.status === 'Recieved', 'text-danger bg-danger/10': Detail?.status === 'Reject'}">{{Detail?.status || '--'}}</span>
                                                
                                                <span class="block text-textmuted dark:text-textmuted/50">Status</span>
                                            </div>

                                            <app-icon-button [icon]="'ri-pencil-line'" [buttonClass]="'btn-wave ti-btn ti-btn-sm ti-btn-soft-primary waves-effect waves-light'" matTooltip="Change Status" (click)="statusChange()" *ngIf="Detail?.status == 'Pending' && this.orgData.login_type_id === LOGIN_TYPES.PRIMARY"></app-icon-button>
                                        </div> -->

                                        <div class="flex items-center me-2 flex-wrap" *ngIf="Detail?.reason">
                                            <div>
                                                <span class="block font-medium text-primay">{{Detail?.reason || '--'}}</span>
                                                <span class="text-textmuted dark:text-textmuted/50">Reason</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </app-showcode-card>
                    </div>

                    <div class="xl:col-span-4 col-span-12">
                        <app-showcode-card [title]="'Billing Information'" [class]="'box-title font-medium text-[15px] block text-primarytint1color'" [boxHeader]="'pb-0'" [titleView]="true">
                            <ul class="ti-list-group list-group-flush border-0">
                                <li>
                                    <div class="flex items-center gap-5 flex-wrap text-[12px]">
                                        <div class="flex items-center me-2 flex-wrap">
                                            <div>
                                                <span class="block font-medium text-primay">{{Detail?.billing_to_company || '--'}}</span>
                                                <span class="text-textmuted dark:text-textmuted/50">Billing Company</span>
                                            </div>
                                        </div>
                                        
                                        <div class="flex items-center me-2 flex-wrap">
                                            <div>
                                                <span class="block font-medium text-primay">{{Detail?.billing_to_contact || '---'}}</span>
                                                <span class="text-textmuted dark:text-textmuted/50">Billing Contact</span>
                                            </div>
                                        </div>
                                        
                                        <div class="flex items-center me-2 flex-wrap">
                                            <div>
                                                <span class="block font-medium text-primay">{{Detail?.billing_to_mobile || '---'}}</span>
                                                <span class="text-textmuted dark:text-textmuted/50">Billing Mobile</span>
                                            </div>
                                        </div>
                                        
                                        <div class="flex items-center me-2 flex-wrap">
                                            <div>
                                                <span class="block font-medium text-primay">{{Detail?.billing_to_email || '--'}}</span>
                                                <span class="text-textmuted dark:text-textmuted/50">Billing Email</span>
                                            </div>
                                        </div>

                                        <div class="flex items-center me-2 flex-wrap">
                                            <div>
                                                <span class="block font-medium text-primay">{{Detail?.billing_to_gst_no || '--'}}</span>
                                                <span class="text-textmuted dark:text-textmuted/50">Billing GST</span>
                                            </div>
                                        </div>

                                        <div class="flex items-center me-2 flex-wrap">
                                            <div>
                                                <span class="block font-medium text-primay">{{Detail?.billing_to_address || '--'}}</span>
                                                <span class="text-textmuted dark:text-textmuted/50">Billing Address</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </app-showcode-card>
                    </div>

                    <div class="xl:col-span-4 col-span-12">
                        <app-showcode-card [title]="'Shipping Information'" [class]="'box-title font-medium text-[15px] block text-primarytint1color'" [boxHeader]="'pb-0'" [titleView]="true">
                            <ul class="ti-list-group list-group-flush border-0">
                                <li>
                                    <div class="flex items-center gap-5 flex-wrap text-[12px]">
                                        <div class="flex items-center me-2 flex-wrap">
                                            <div>
                                                <span class="block font-medium text-primay">{{Detail?.shipping_to_company || '--'}}</span>
                                                <span class="text-textmuted dark:text-textmuted/50">Shipping Company</span>
                                            </div>
                                        </div>
                                        
                                        <div class="flex items-center me-2 flex-wrap">
                                            <div>
                                                <span class="block font-medium text-primay">{{Detail?.shipping_to_contact || '---'}}</span>
                                                <span class="text-textmuted dark:text-textmuted/50">Shipping Contact</span>
                                            </div>
                                        </div>
                                        
                                        <div class="flex items-center me-2 flex-wrap">
                                            <div>
                                                <span class="block font-medium text-primay">{{Detail?.shipping_to_mobile || '---'}}</span>
                                                <span class="text-textmuted dark:text-textmuted/50">Shipping Mobile</span>
                                            </div>
                                        </div>
                                        
                                        <div class="flex items-center me-2 flex-wrap">
                                            <div>
                                                <span class="block font-medium text-primay">{{Detail?.shipping_to_email || '--'}}</span>
                                                <span class="text-textmuted dark:text-textmuted/50">Shipping Email</span>
                                            </div>
                                        </div>

                                        <div class="flex items-center me-2 flex-wrap">
                                            <div>
                                                <span class="block font-medium text-primay">{{Detail?.shipping_to_gst_no || '--'}}</span>
                                                <span class="text-textmuted dark:text-textmuted/50">Shipping GST</span>
                                            </div>
                                        </div>

                                        <div class="flex items-center me-2 flex-wrap">
                                            <div>
                                                <span class="block font-medium text-primay">{{Detail?.shipping_to_address || '--'}}</span>
                                                <span class="text-textmuted dark:text-textmuted/50">Shipping Address</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </app-showcode-card>
                    </div>
                </div>
                
                <div class="grid grid-cols-12 sm:gap-x-3" *ngIf="Detail?.invoice_items?.length">
                    <div class="xxl:col-span-12 xl:col-span-12 lg:col-span-6 md:col-span-6 col-span-12">
                        <app-showcode-card [title]="'Product Detail'" [class]="'box-title font-medium text-[15px] block text-primarytint1color'" [boxHeader]="'pb-0'"  [titleView]="true">
                            <div class="table-responsive overflow-auto table-bordered-default">
                                <spk-reusable-tables [columns]="headerColumn" tableClass="ti-custom-table ti-custom-table-head ti-custom-table-hover ti-head-primary whitespace-nowrap" [tableHead]="'border-b'" [showS_No]="true">
                                    <tr class="product-list border-b !border-defaultborder dark:!border-defaultborder/10" *ngFor="let row of Detail?.invoice_items; let i = index;">
                                        <td class="w60 text-center">{{i+1}}</td>
                                        <td>{{row.product_name || '--'}}</td>
                                        <td>{{row.product_code || '--'}}</td>
                                        <td>{{row.total_quantity || '--'}}</td>
                                        <td>{{row.square_meter || '--'}}</td>
                                        <td>{{row.batch_no || '--'}}</td>
                                        <td>{{row.product_grade || '--'}}</td>
                                        <td>{{row.color_code || '--'}}</td>
                                        <td>{{row.length || '--'}}</td>
                                        <td>{{row.width || '--'}}</td>
                                    </tr>
                                </spk-reusable-tables>
                            </div>
                        </app-showcode-card>
                    </div>
                </div>

                <div class="grid grid-cols-12 sm:gap-x-3">
                    <div class="xxl:col-span-6 xl:col-span-12 lg:col-span-6 md:col-span-6 col-span-12">
                        <app-showcode-card [title]="'Attachment'" [class]="'box-title font-medium text-[15px] block text-primarytint1color'" [titleView]="true"  [iconClass]="'ti-btn btn-wave ti-btn-sm ti-btn-soft-primary waves-effect waves-light'" [classbody]="'pt-0'" [iconName]="'ri-add-line'">
                            <div class="grid grid-cols-12 gap-x-4" *ngIf="Detail.docs.length > 0">
                                <ng-container >
                                    <div class="xl:col-span-3 lg:col-span-3 xl:col-span-3 sm:col-span-6 col-span-12" *ngFor="let image of Detail.docs">
                                        <spk-product-card [apiPath]="'invoice/get-doc'" [imageData]="image" [editBtn]="false" [delBtn]="false" [heading]="false" [subHeading]="false">
                                        </spk-product-card>
                                    </div>
                                </ng-container>
                            </div>
                            
                            <ng-container *ngIf="Detail.docs.length === 0">
                                <app-data-not-found></app-data-not-found>
                            </ng-container>
                        </app-showcode-card>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Sk Loading Start -->
        <div class="grid grid-cols-12 sm:gap-x-6" *ngIf="skLoading">
            <div class="xl:col-span-12 col-span-12">
                <div class="grid grid-cols-12 sm:gap-x-6">
                    <div class="xl:col-span-12 col-span-12">
                        <app-showcode-card [titleView]="false"  [view]="false">
                            <div >
                                <div class="flex gap-2 mb-1 flex-wrap">
                                    <div class="flex items-center" *ngFor="let card of [].constructor(10)">
                                        <app-skeleton [class]="'w180'"></app-skeleton>
                                    </div>
                                </div>
                            </div>
                        </app-showcode-card>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sk Loading End -->
    </div>
</div>
<!-- End:: row-1 -->