<footer class="mt-auto py-2 bg-white dark:bg-bodybg text-center border-t border-defaultborder dark:border-defaultborder/10">
    <div class="container">
        <span class="text-textmuted dark:text-textmuted/50 flex items-center justify-center flex-wrap">
            Copyright © <span class="mr-1" id="year"> 2025 </span>
            <p class="text-dark font-medium">EzeOne</p>. Designed with <span class="text-danger mx-1">&#10084;</span> by
            <a class="mx-1" href="https://ezeonetech.com/" target="_blank"><span class="font-medium text-primary">EzeOne Technologies Private Limited</span></a>
            All rights reserved
        </span>
    </div>
</footer>