<div class="mat-dialoge" *ngIf="modalData.lastPage === 'product' || modalData.lastPage === 'user-add' || modalData.lastPage === 'expense-policy-add' || modalData.lastPage === 'leave-master' || modalData.lastPage === 'enquiry' || modalData.lastPage === 'site' || modalData.lastPage === 'form-config'">
    <form #f="ngForm" (ngSubmit)="f.valid && submit()">
        <mat-dialog-content class="mat-typography">
            <div class="grid grid-cols-12 gap-x-12">
                <div class="col-span-12 md:col-span-12 xxl:!col-span-12">
                    <div>
                        <mat-tab-group mat-stretch-tabs="true" [selectedIndex]="selectedTabIndex" (selectedTabChange)="onTabChange($event)">
                            <mat-tab label="Manage Form"></mat-tab>
                            <mat-tab label="Form Builder"></mat-tab>
                            <mat-tab label="Manage Dropdown Options"></mat-tab>
                        </mat-tab-group>
                        
                        <div class="mt-3">
                            <div *ngIf="selectedTabIndex==0">
                                <ul class="ti-list-group !p-0 !border-0 sortable-list" id="cloning-left" [sortablejs]="showTrueFileds" [sortablejsOptions]="normalOptionFileds">
                                    @for (item of showTrueFileds; track item.label) {
                                        <li class="ti-list-group-item flex items-center justify-between relative">
                                            <div class="text-dark">
                                                <i class="ri-drag-move-2-fill me-2 text-dark text-[1rem] handle leading-none"></i>
                                                {{item.label}}
                                            </div>
                                            <div class="flex gap-2 group-fix-btn">
                                                <button type="button" aria-label="button" class="ti-btn ti-btn-icon bg-success/10 text-success hover:bg-success hover:text-white !rounded-full btn-wave" (click)="selectedTabIndex=1; item.feild_disabled = true; updateForm(item)" [disabled]="item.is_change === false"> 
                                                    <i class="ri-pencil-line"></i>
                                                </button>
                                                <button type="button" aria-label="button" class="ti-btn ti-btn-icon bg-danger/10 text-danger hover:bg-danger hover:text-white !rounded-full btn-wave" [disabled]="item.is_change === false" (click)="deleteItem($index, item.label)">
                                                    <i class="ri-delete-bin-line"></i>
                                                </button>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                            
                            <div *ngIf="selectedTabIndex==1">
                                <div class="grid grid-cols-12 sm:gap-x-6 gap-y-5">
                                    <div class="xxl:col-span-3 xl:col-span-12 lg:col-span-12 md:col-span-6 col-span-12">
                                        <label class="form-label"> Field Type
                                            <span class="text-red-500">*</span>
                                        </label>
                                        <mat-form-field class="mat-custom-field">
                                            <mat-select name="type" #type="ngModel" [(ngModel)]="data.type" required [disabled]="data.feild_disabled" (selectionChange)="listarray = []; data.parent_field_name =''; data.parent_field_value = ''">
                                                <ng-container *ngFor="let row of inputOptions">
                                                    <mat-option value="{{row.value}}">{{row.label}}</mat-option>
                                                </ng-container>
                                            </mat-select>
                                            <mat-hint align="end" *ngIf="type.touched || f.submitted">
                                                <ng-container *ngIf="type.errors?.['required']">This field is required</ng-container>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    
                                    
                                    <ng-container *ngIf="data.type == fieldTypes.SINGLE_SELECT || data.type == fieldTypes.MULTI_SELECT">
                                        <div class="xxl:col-span-3 xl:col-span-12 lg:col-span-12 md:col-span-6 col-span-12" >
                                            <label class="form-label">With Search
                                                <span class="text-red-500">*</span> 
                                            </label>
                                            <mat-form-field class="mat-custom-field">
                                                <mat-select name="search" #search="ngModel" [(ngModel)]="data.search" required>
                                                    <mat-option value="Yes">Yes</mat-option>
                                                    <mat-option value="No">No</mat-option>
                                                </mat-select>
                                                <mat-hint align="end" *ngIf="search.touched || f.submitted">
                                                    <ng-container *ngIf="search.errors?.['required']">This field is required</ng-container>
                                                </mat-hint>
                                            </mat-form-field>
                                        </div>
                                    </ng-container>
                                    
                                    <div class="xxl:col-span-3 xl:col-span-12 lg:col-span-12 md:col-span-6 col-span-12" *ngIf="data.type == fieldTypes.SINGLE_SELECT || data.type == fieldTypes.MULTI_SELECT || data.type == fieldTypes.SHORT_TEXT || data.type == fieldTypes.NUMBER || data.type == fieldTypes.RADIO_SELECT||data.type == fieldTypes.CHECKBOX_SELECT">
                                        <label class="form-label"> Visibilty Dependent
                                            <span class="text-red-500">*</span> 
                                        </label>
                                        <mat-form-field class="mat-custom-field">
                                            <mat-select name="is_child_dependency"
                                            #is_child_dependency="ngModel" [(ngModel)]="data.is_child_dependency"
                                            required (selectionChange)="listarray = []; data.parent_field_name =''; data.parent_field_value = ''">
                                            <!-- <mat-option value="Direct">Direct</mat-option> -->
                                            <mat-option value="Option">Option</mat-option>
                                            <mat-option value="No Dependency">No
                                                Dependency</mat-option>
                                            </mat-select>
                                            <mat-hint align="end" *ngIf="is_child_dependency.touched || f.submitted">
                                                <ng-container *ngIf="is_child_dependency.errors?.['required']">This field is required</ng-container>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    
                                    <div class="xxl:col-span-3 xl:col-span-12 lg:col-span-12 md:col-span-6 col-span-12" *ngIf="data.is_child_dependency == 'Direct'">
                                        <label class="form-label">Select Dependent Field 
                                            <span class="text-red-500">*</span> 
                                        </label>
                                        <mat-form-field class="mat-custom-field ">
                                            <mat-select name="parent_field_name" #parent_field_name="ngModel" [(ngModel)]="data.parent_field_name" (selectionChange)="findValue(data.parent_field_name, data)" required>
                                                <ng-container *ngFor="let row of formDropdown">
                                                    <mat-option value="{{row.name}}" *ngIf="data.name != row.name">{{row.label}}</mat-option>
                                                </ng-container>
                                            </mat-select>
                                            <mat-hint align="end" *ngIf="parent_field_name.touched || f.submitted">
                                                <ng-container *ngIf="parent_field_name.errors?.['required']">This field is required</ng-container>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    
                                    <div class="xxl:col-span-3 xl:col-span-12 lg:col-span-12 md:col-span-6 col-span-12" *ngIf="data.parent_field_name && data.is_child_dependency == 'Direct'">
                                        <label class="form-label"> Select Dependancy Value
                                            <span class="text-red-500">*</span> 
                                        </label>
                                        <mat-form-field class="mat-custom-field">
                                            <mat-select name="parent_field_value" #parent_field_value="ngModel" [(ngModel)]="data.parent_field_value" [required]="listarray.length === 0">
                                                <ng-container *ngFor="let row of formDropdownOption">
                                                    <mat-option value="{{row.label}}">{{row.label}}</mat-option>
                                                </ng-container>
                                            </mat-select>
                                            <mat-hint align="end" *ngIf="parent_field_value.touched || f.submitted">
                                                <ng-container *ngIf="parent_field_value.errors?.['required']">This field is required</ng-container>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="xxl:col-span-3 xl:col-span-12 lg:col-span-12 md:col-span-6 col-span-12">
                                        <label class="form-label">Name <span class="text-red-500">*</span> 
                                        </label>
                                        <mat-form-field class="mat-custom-field">
                                            <input matInput placeholder="Type Here ..." name="label" [(ngModel)]="data.label" #label="ngModel" required>
                                            <mat-hint align="end" *ngIf="label.touched || f.submitted">
                                                <ng-container *ngIf="label.errors?.['required']">This field is required</ng-container>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    
                                    <div class="xxl:col-span-3 xl:col-span-12 lg:col-span-12 md:col-span-6 col-span-12">
                                        <label class="form-label">Mandatory Field
                                            <span class="text-red-500">*</span> 
                                        </label>
                                        <mat-form-field class="mat-custom-field">
                                            
                                            <mat-select name="required" #required="ngModel" [(ngModel)]="data.required" required>
                                                <mat-option value='true'>Yes</mat-option>
                                                <mat-option value='false'>No</mat-option>
                                            </mat-select>
                                            <mat-hint align="end" *ngIf="required.touched || f.submitted">
                                                <ng-container *ngIf="required.errors?.['required']">This field is required</ng-container>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <ng-container *ngIf="data.type == 'SHORT_TEXT'  || data.type == 'NUMBER' || data.type == 'TEXT_AREA'">
                                        <div class="xxl:col-span-3 xl:col-span-12 lg:col-span-12 md:col-span-6 col-span-12">
                                            <label class="form-label">Min Length</label>
                                            <mat-form-field class="mat-custom-field">
                                                <input matInput placeholder="Type Here ..." name="min_length" [(ngModel)]="data.min_length" #min_length="ngModel">
                                                <mat-hint align="end" *ngIf="min_length.touched || f.submitted">
                                                    <ng-container *ngIf="min_length.errors?.['required']">This field is required</ng-container>
                                                </mat-hint>
                                            </mat-form-field>
                                        </div>
                                        
                                        <div class="xxl:col-span-3 xl:col-span-12 lg:col-span-12 md:col-span-6 col-span-12">
                                            <label class="form-label">Max Length </label>
                                            <mat-form-field class="mat-custom-field">
                                                <input matInput placeholder="Type Here ..." name="max_length" [(ngModel)]="data.max_length" #max_length="ngModel">
                                                <mat-hint align="end" *ngIf="max_length.touched || f.submitted">
                                                    <ng-container *ngIf="max_length.errors?.['required']">This field is required</ng-container>
                                                </mat-hint>
                                            </mat-form-field>
                                        </div>
                                    </ng-container>
                                    
                                    <div class="xxl:col-span-3 xl:col-span-12 lg:col-span-12 md:col-span-6 col-span-12" *ngIf="data.type == 'NUMBER'  || data.type == 'SHORT_TEXT'">
                                        <label class="form-label">Pattern</label>
                                        <mat-form-field class="mat-custom-field">
                                            <input matInput placeholder="Type Here ..." name="pattern_validation" [(ngModel)]="data.pattern_validation" #pattern_validation="ngModel">
                                            <mat-hint align="end" *ngIf="pattern_validation.touched || f.submitted">
                                                <ng-container *ngIf="pattern_validation.errors?.['required']">This field is required</ng-container>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    
                                    <div class="xxl:col-span-3 xl:col-span-12 lg:col-span-12 md:col-span-6 col-span-12">
                                        <label class="form-label">Field Layout Size
                                            <span class="text-red-500">*</span> 
                                        </label>
                                        <mat-form-field class="mat-custom-field">
                                            <mat-select name="class_name" #class_name="ngModel" [(ngModel)]="data.class_name" required>
                                                <mat-option value="xxl:col-span-3 xl:col-span-4 col-span-12">Small</mat-option>
                                                <mat-option value="xxl:col-span-6 xl:col-span-9 col-span-12">Medium</mat-option>
                                                <mat-option value="xxl:col-span-12 xl:col-span-12 col-span-12">Large</mat-option>
                                            </mat-select>
                                            <mat-hint align="end" *ngIf="class_name.touched || f.submitted">
                                                <ng-container *ngIf="class_name.errors?.['required']">This field is required</ng-container>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                </div>
                                
                                <div class="grid grid-cols-12 sm:gap-x-6 gap-y-5">
                                    <div class="xxl:col-span-3 xl:col-span-12 lg:col-span-12 md:col-span-6 col-span-12" *ngIf="data.is_child_dependency === 'Option' ">
                                        <label class="form-label">Select Dependent Field
                                            <span class="text-red-500">*</span> 
                                        </label>
                                        <mat-form-field class="mat-custom-field">
                                            <mat-select name="parent_field_value" #parent_field_value="ngModel" [(ngModel)]="data.parent_field_value" (selectionChange)="findValue(data.parent_field_value, '')" required [disabled]="listarray.length > 0">
                                                <ng-container *ngFor="let row of formDropdown">
                                                    <ng-container *ngIf="row.key_source != 'default'">
                                                        <mat-option value="{{row.name}}" *ngIf="data.name != row.name">{{row.label}}</mat-option>
                                                    </ng-container>
                                                </ng-container>
                                            </mat-select>
                                            <mat-hint align="end" *ngIf="parent_field_value.touched || f.submitted">
                                                <ng-container *ngIf="parent_field_value.errors?.['required']">This field is required</ng-container>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    
                                    <!-- <div class="xxl:col-span-3 xl:col-span-12 lg:col-span-12 md:col-span-6 col-span-12" *ngIf="data.is_child_dependency === 'Option' ">
                                        <label class="form-label">Select Dependancy Value
                                            <span class="text-red-500" *ngIf="listarray.length === 0">*</span> 
                                        </label>
                                        <mat-form-field class="mat-custom-field">
                                            <mat-select name="option_dependancy_field_value" #option_dependancy_field_value="ngModel" [(ngModel)]="data.option_dependancy_field_value" [required]="listarray.length === 0">
                                                <ng-container *ngFor="let row of formDropdownOption">
                                                    <mat-option value="{{row.label}}">{{row.label}}</mat-option>
                                                </ng-container>
                                            </mat-select>
                                            <mat-hint align="end" *ngIf="option_dependancy_field_value.touched || f.submitted">
                                                <ng-container *ngIf="option_dependancy_field_value.errors?.['required']">This field is required</ng-container>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div> -->
                                    
                                    
                                    
                                    <div class="xxl:col-span-3 xl:col-span-12 lg:col-span-12 md:col-span-6 col-span-12" *ngIf="(data.type == fieldTypes.CHECKBOX_SELECT || data.type == fieldTypes.RADIO_SELECT )">
                                        <div class="flex gap-3">
                                            <div>
                                                <label class="form-label">Add Option</label>
                                                <mat-form-field class="mat-custom-field">
                                                    <input matInput placeholder="Type Here ..." name="dropdown_option" [(ngModel)]="data.dropdown_option" pattern="^[^\s].*" #dropdown_option="ngModel">
                                                    <mat-hint align="end" *ngIf="dropdown_option?.errors?.['pattern'] && dropdown_option?.touched">
                                                        Spaces are not allowed. 
                                                    </mat-hint>
                                                </mat-form-field>
                                            </div>
                                            <button type="button" aria-label="button" class="ti-btn ti-btn-icon ti-btn-primary btn-wave mt34" (click)="addtolist()" [disabled]=" data.is_child_dependency == 'Direct' ? (!data.dropdown_option && (!data.parent_field_value && !data.parent_field_value)) : !data.dropdown_option">
                                                <i class="ri-add-line"></i>
                                            </button>
                                        </div>
                                    </div>
                                    
                                    <div class="xxl:col-span-12 xl:col-span-12 lg:col-span-12 md:col-span-12 col-span-12" *ngIf="listarray.length > 0 && (data.type == 'MULTI_SELECT' || data.type == 'CHECKBOX_SELECT' || data.type == 'RADIO_SELECT' || data.type == 'SINGLE_SELECT')">
                                        <div class="table-responsive">
                                            <spk-reusable-tables [columns]="getColumns()" tableClass="ti-custom-table ti-custom-table-head" [showCheckbox]="false">
                                                @for(row of listarray;track $index){
                                                    <tr>
                                                        <td>{{$index+1}}</td>
                                                        <td *ngIf="this.data.is_child_dependency === 'Option'">{{row.parent_field_value ? row.parent_field_value : '---'}}</td>
                                                        <td>{{row.label}}</td>
                                                        
                                                        <td class="w60">
                                                            <button type="button" aria-label="button" class="ti-btn ti-btn-icon bg-danger/10 text-danger hover:bg-danger hover:text-white !rounded-full btn-wave  me-5" (click)="delete($index)">
                                                                <i class="ri-delete-bin-line"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                }
                                            </spk-reusable-tables>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div *ngIf="selectedTabIndex==2">
                                <app-module-dropdown [moduleData]="modalData.moduleData"></app-module-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <app-button mat-dialog-close [buttonType]="'button'" [buttonClass]="'ti-btn ti-btn-outline-danger m-2'" [label]="'Cancel'"></app-button>
            <app-button [buttonType]="'submit'" [buttonClass]="'ti-btn ti-btn-primary m-0'" [disabled]="api.disabled" [formType]="'add'" [iconClass]="'ri-save-line'"  [loadingIconClass]="'ri-loader-2-fill'" *ngIf="selectedTabIndex==0 || selectedTabIndex==1"></app-button>
        </mat-dialog-actions>
    </form>
</div>

<!-- // -----Table Header Config Modal Start----- // -->
<div class="mat-dialoge" *ngIf="modalData.lastPage === 'expense-policy-list' || modalData.lastPage === 'enquiry-list' || modalData.lastPage === 'header-config'">
    <app-modal-header [title]="'Table Header Config'"  (close)="close()">
    </app-modal-header>
    <div class="px-3">
        <div class="box mb-0">
            <div class="box-body p-0">
                <div class="grid grid-cols-12 sm:gap-x-6">
                    <div class="xl:col-span-12 col-span-12">
                        <ng-container *ngIf="!skLoading">
                            
                            <ul class="ti-list-group !p-0 !border-0 sortable-list" id="cloning-left" [sortablejs]="showTrueFileds" [sortablejsOptions]="normalOptions">
                                <ng-container  *ngFor="let item of showTrueFileds">
                                    <li class="ti-list-group-item flex items-center justify-between">
                                        <div>
                                            <i class="ri-drag-move-2-fill me-2 text-dark text-[1rem] handle leading-none"></i> 
                                            {{item.label}}
                                        </div>
                                        
                                        <div class="flex gap-2"> 
                                            <div class="form-check form-check-inline flex items-center">
                                                <input class="form-check-input" type="checkbox" [id]="'inlineCheckboxView' + item.label" [value]="item.value" [checked]="item.list_view_checked" [disabled]="item.disabled" (change)="onCheckboxChange(item, 'list_view_checked', $event)"> 
                                                <label class="form-check-label" [for]="'inlineCheckboxView' + item.label">List View</label>
                                            </div>
                                            
                                            <div class="form-check form-check-inline flex items-center">
                                                <input class="form-check-input" type="checkbox" [id]="'inlineCheckboxFilter' + item.label" [value]="item.value1" [checked]="item.filter_checked" [disabled]="item.disabled" (change)="onCheckboxChange(item, 'filter_checked', $event)"> 
                                                <label  class="form-check-label" [for]="'inlineCheckboxFilter' + item.label">Filter</label>
                                            </div>
                                        </div>
                                    </li>
                                </ng-container>
                            </ul>
                        </ng-container>
                        
                        <ng-container *ngIf="skLoading">
                            <ul *ngFor="let row of [].constructor(8)">
                                <li class="mb-1" *ngFor="let row of [].constructor(11)">
                                    <app-skeleton [class]="'h20 bg-skeleton'"></app-skeleton>
                                </li>
                            </ul>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer border-t border-block-start-dashed sm:flex justify-end">
        <app-button [buttonType]="'submit'" [buttonClass]="'ti-btn ti-btn-primary m-0'" [disabled]="api.disabled" [formType]="pageType" [iconClass]="'ri-save-line'"  [loadingIconClass]="'ri-loader-2-fill'" (buttonClick)="saveAssignedHeaders()"></app-button>
    </div>
</div>
<!-- // -----Table Header Config Modal Start----- // -->

<!-- // -----Role And Permission Add Modal Start----- // -->
<div class="mat-dialoge" *ngIf="modalData.lastPage === 'role-and-permission-add'">
    <app-modal-header [title]="'Add Role'" [closeBtn]="true" (close)="close()">
    </app-modal-header>
    
    <mat-dialog-content class="mat-typography">
        <form #f="ngForm" (ngSubmit)="f.valid && saveRole()">
            <div class="xxl:col-span-8 xl:col-span-12 lg:col-span-12 md:col-span-6 col-span-12">
                
                <mat-form-field> <mat-label>Role Name</mat-label> 
                    <input matInput placeholder="Type Here ..." name="user_role_name" [(ngModel)]="data.user_role_name" pattern="^[^\s].*" #user_role_name="ngModel" required>
                    <mat-hint align="end" *ngIf="user_role_name.touched || f.submitted">
                        <ng-container *ngIf="user_role_name.errors?.['required']">This field is required</ng-container>
                    </mat-hint>
                </mat-form-field>
            </div>
            
            <div class="flex items-center justify-end">
                <button type="submit" class="ti-btn ti-btn-primary m-0" [ngClass]="{'ti-btn-loader ti-btn-disabled': api.disabled}" [disabled]="api.disabled">
                    <span>{{api.disabled ? 'Saving' : 'Save'}} 
                        <i class="ri-save-line ms-2 text-[16px] inline-block" *ngIf="!api.disabled"></i>
                    </span>
                    <span class="loading" *ngIf="api.disabled">
                        <i class="ri-loader-2-fill text-[1rem] animate-spin"></i>
                    </span>
                </button>
            </div>
        </form>
        
        <!-- <div class="grid grid-cols-12 sm:gap-x-6 gap-y-5"> -->
            <!-- *ngIf="roleListArray.length > 0" -->
            <!-- <div class="xxl:col-span-12 xl:col-span-12 lg:col-span-12 md:col-span-12 col-span-12"> -->
                <div class="table-responsive mt-4">
                    <spk-reusable-tables [columns]="roleColumn" tableClass="ti-custom-table ti-custom-table-hover ti-head-primary" [tableHead]="'border-b'" [showCheckbox]="false">
                        @for(row of roleListArray;track $index){
                            <tr>
                                <td class="w60">{{$index+1}}</td>
                                <td>{{row.user_role_name}}</td>
                                <td class="w60 relative">
                                    <div class="flex flex-row items-center !gap-2 text-[0.9375rem] group-fix-btn">
                                        <a aria-label="anchor" class="ti-btn btn-wave  ti-btn-sm ti-btn-soft-success waves-effect waves-light" (click)="updateRole(row)">
                                            <i class="ri-edit-line"></i>
                                        </a>
                                        <a aria-label="anchor" class="ti-btn btn-wave product-btn ti-btn-sm ti-btn-soft-danger waves-effect waves-light" (click)="onDeleteRole(row._id)">
                                            <i class="ri-delete-bin-line"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </spk-reusable-tables>
                </div>
            <!-- </div> -->
        <!-- </div> -->
    </mat-dialog-content>
</div>
<!-- // -----Role And Permission Add Modal Start----- // -->