::ng-deep{
    
    
    .firebase {
        width: 30px;
        height: 30px;
    }
    
    .rounded-lg{
        width: 120px;
        justify-content: center;
        margin: auto;
        border-radius: 0.75rem;
    }    
    
}
/* Hide Edge's built-in password eye and clear button */
input::-ms-reveal,
input::-ms-clear {
    display: none;
}

.login-swiper
{
    // background: rgba(0,0,0,0.2);
    width: 300px;
    // padding: 0.5rem;
}